@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif; 
}

@layer base {
  body {
    font-family: var(--font-roboto);
  }
}

@layer components {
  .meme-text {
    @apply absolute left-0 right-0 w-full break-words px-4 text-center font-sans md:text-3xl font-black uppercase text-white;
    text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
  }
}
